<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Private Rest Api">
<meta name="robots" content="archive, follow, imageindex, index, odp, snippet, translate">
<meta name="author" content="Meikyads">
<title>REST APIs</title>
<meta property="og:site_name" name="og:site_name" content="Pais-APi">
<meta property="og:title" name="og:title" content="WELCOME TO の ＭｅＩｋｙ あ REST APIs">
<meta property="og:url" name="og:url" content="https://meiky-xyz.herokuapp.com/">
<meta property="og:image" name="og:image" content="./images/alam.jpg">
<meta property="og:description" name="og:description" content="Private Rest Api">
<link rel="apple-touch-icon" sizes="57x57" href="./images/alam.jpg">
<link rel="shortcut icon" type="image/x-icon" href="https://i.ibb.co/nzWy53t/Whats-App-Image-2021-02-07-at-14-00-11-removebg-preview-1.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="./images/alam.jpg">
<meta name="theme-color" content="#ffffff">
<link rel="canonical" href="https://meiky-xyz.herokuapp.com">
<link rel="stylesheet" href="./css/all.min.css" type="text/css">
<link rel="stylesheet" href="./css/home.css">
</head>
<body>
<div class="bg"></div>
<div class="text">
<div class="status">
<p>Status : <span class="typed-text"></span><span class="cursor typing"></span></p>

</div>
<hr>
<div class="readdocs">
<p>View <a href="docs" class="docs">Docs Click Here</a></p>
</div>
</div>
<div class="bottom">
<p>
<a href="https://www.instagram.com/ikyy_ads/" target="_blank" rel="noopener noreferrer" class="sosmed"><i class="fab fa-telegram-plane" aria-hidden="true"></i> Instagram</a>
</p>
</div>
</body> 
<script src="./js/sci.js"></script>
</html>